.DS_Store


# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.class

data
*.csv
*.sqlite
figure
.Rproj.user
.Rproj
.Rhistory
.RData


# JAVA
*.class
*.project
*.classpath



# Sublime
*.sublime*
